h1 {
  background-color: LightGray;
  text-align: center;
  font-family: calibri;
}

h2 {
  background-color: LightGray;
  text-align: center;
  font-family: calibri;
}

h4 {
  background-color: LightGray;
  font-family: calibri;
}

p {
  background-color: LightGray;
  font-family: calibri;
}
