h1 {
  background-color: Purple;
  color: White;
  text-align: center;
  font-family: calibri;
}

h2 {
  color: White;
  text-align: center;
  font-family: calibri;
}

h4 {
  background-color: Purple;
  color: White;
  text-align: center;
  font-family: calibri;
}

p {
  border: 10px solid Lavender;
  font-family: calibri;
}
